
.src-fondo{
  background-image: url("/img/fondo.jpg");
  height: 70vh;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.na-link{
  cursor: pointer;
}
.na-link:hover{
  /* font-size: 17px; */
  color:rgb(245, 216, 0)!important;
}
